[Unit]
Description=<%= @description %>
<% unless @accessory_units.empty? %>
Wants=<%= @accessory_units.join(" ") %>
After=<%= @accessory_units.join(" ") %>
<% end %>

[Container]
Image=<%= @image %>
ContainerName=<%= @name %>
<% @networks.each do |network| %>
Network=<%= network %>.network
<% end %>
<% @environment.each do |key, value| %>
Environment=<%= key %>=<%= value %>
<% end %>
<% @secrets.each do |secret| %>
Secret=<%= secret %>
<% end %>
<% @volumes.each do |volume| %>
Volume=<%= volume %>
<% end %>
<% @ports.each do |port| %>
PublishPort=<%= port %>
<% end %>
<% if command = @command %>
Exec=<%= command %>
<% end %>

[Service]
Restart=always

[Install]
WantedBy=default.target
