[Container]
Image=<%= @image %>
ContainerName=meridian-caddy
AddCapability=NET_BIND_SERVICE
Network=<%= Meridian::Runtime::Paths::SHARED_PROXY_NETWORK %>.network
PublishPort=<%= @http_port %>:80
PublishPort=<%= @https_port %>:443
Volume=<%= @data_dir %>:/data
Volume=%h/.config/containers/meridian-caddy:/config
Volume=%h/<%= Meridian::Runtime::Paths::ASSETS_DIRECTORY %>:/srv/assets:ro
Exec=caddy run --config /config/Caddyfile --adapter caddyfile

[Service]
Restart=always

[Install]
WantedBy=default.target
