[Container]
Image=<%= @image %>
ContainerName=kamal-proxy
AddCapability=NET_BIND_SERVICE
Network=<%= @service %>.network
PublishPort=<%= @http_port %>:80
PublishPort=<%= @https_port %>:443
Volume=<%= @data_dir %>:<%= @data_dir %>

[Service]
Restart=always

[Install]
WantedBy=default.target
